*{
  background: linear-gradient(135deg,#5b548a,#5b548a);
  color: #fff;
}.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.container {
  box-shadow: 0px 0px 12px #ccc;
  border-radius: 8px;
  padding: 3rem;
}

input {
  width: 100%;
  padding: 1em;
  margin: 0.5em;
  border-radius: 8px;

}
button{
  margin: 1em;
  border: 1em solid;
}